<p-card>

  <h1 class="mb-5">Skills</h1>

  <p-table [value]="skillArray" [columns]="headerArray" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th [id]="col" *ngFor="let col of columns">{{ col.header }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>{{ rowData.name }}</td>
        <td>{{ rowData.rankInfo.currentRank }}</td>
        <td><p-progressBar [showValue]="false" [value]="rowData.rankInfo.xpExcess * 100  /  rowData.rankInfo.xpNeededForNextRank"></p-progressBar></td>

        <td *ngFor="let col of columns.slice(3)">
          {{ rowData.skillSourcesAmount.get(col.field) || 0 }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

