
<!--Personal Info card-->
<div class="personal-info">
  <div class="col-2">
    <p-card [style]="{width: '360px', height: '100%', 'margin-top': '.5rem'}">
      <ng-template pTemplate="header">
        <p-image src="../../../assets/galleria1.jpg" alt="Profile" width="250" [preview]="true"></p-image>
        <h1 class="mt-4 ms-5">{{ user.Name }}</h1>
      </ng-template>
      <ng-template pTemplate="body">
        <div class="align-items-center ms-3 big-text">
          <span><i class="pi pi-user"></i></span>
          <p *ngIf="!editing" class="d-inline ms-4">{{ user.Name}}</p>
          <input *ngIf="editing" type="text" pInputText placeholder="Username" class="ms-4" [(ngModel)]="editModel.Name">
        </div>
        <div class="align-items-center ms-3 mt-2 big-text">
          <span><i class="pi pi-github"></i></span>
          <p *ngIf="!editing" class="d-inline ms-4">{{ user.GithubProfile }}</p>
          <input *ngIf="editing" type="text" pInputText placeholder="Username" class="ms-4" [(ngModel)]="editModel.GithubProfile">
        </div>
        <div class="align-items-center ms-3 mt-2 big-text">
          <span><i class="pi pi-envelope"></i></span>
          <p *ngIf="!editing" class="d-inline ms-4">{{ user.Email }}</p>
          <input *ngIf="editing" type="text" pInputText placeholder="Username" class="ms-4" [(ngModel)]="editModel.Email">
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="row justify-content-between m-3">
          <button *ngIf="!editing" pButton label="Edit" class="mt-3" (click)="startEditing()"></button>
          <button *ngIf="editing" pButton label="Save" class="mt-3 col-6" (click)="saveChanges()"></button>
          <button *ngIf="editing" pButton label="Cancel" class="mt-3 col-6" (click)="cancelEditing()"></button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>

<!--Summary and skills card-->
<div class="row row-cols-2 skills-grid mt-2">
  <p-card [styleClass]="">
    <ng-template pTemplate="header">
      <h1 class="text-center p-4 pb-1">Summary</h1>
    </ng-template>
    <ng-template pTemplate="body">
      <p *ngIf="!editing" class="big-text">{{ user.Summary }}</p>
      
      <textarea *ngIf="editing" pInputTextarea [(ngModel)]="editModel.Summary" rows="5" cols="30" [style]="{width: '100%'}"></textarea>
    </ng-template>
  </p-card>
  <p-card>
    <ng-template pTemplate="header">
      <h1>Summary</h1>
    </ng-template>
    <ng-template pTemplate="body">
      <p *ngIf="!editing" class="big-text">{{ user.Name }}</p>
      <textarea *ngIf="editing" pInputTextarea [(ngModel)]="editModel.Summary" rows="5" cols="30"></textarea>
    </ng-template>
  </p-card>
</div>
