body{
  background: #f7f7ff;
  margin-top:20px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
  margin-right: .5rem!important;
}

.rounded{
    border-radius: 50%!important;
}

.big-text{
  font-size: larger;
}

.personal-info{
  position: absolute;
}

.skills-grid{
  margin-left: 380px;
  margin-right: 25px;
  height: fit-content;
  display: flex;
}

.top-three-skills{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: larger;
}

.rest-skills{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
}

.streak{
  padding-right: 10rem
}
