<p-card class="user-profile-card">
  <ng-template pTemplate="header" class="profile-header">
    <h2 class="p-5">User Profile</h2>
  </ng-template>
  <ng-template pTemplate="body" class="profile-content">



    <div class="profile-field mb-4 row">
      <h4 class="col-2">Username:</h4>
      <h3 class="col-2">{{ username }}</h3>
    </div>
    <div class="profile-field">
      <div class="row">
        <label class="col-1">GitHub Profile:</label>
        <input class="col-2" pInputText id="username" [(ngModel)]="githubProfile" [disabled]="!editingGitHub" />
        <button class="col-1" pButton *ngIf="!editingGitHub" (click)="startEditingGitHub()">Edit</button>
        <button pButton class="col-1" *ngIf="editingGitHub" (click)="saveGitHubChanges()">Save</button>
        <button pButton  class="col-1" *ngIf="editingGitHub" (click)="cancelEditingGitHub()">Cancel</button>
      </div>
    </div>
  </ng-template>
</p-card>
