<div *ngIf="user.Name === loggedInUsername">
  <p-tabView [(activeIndex)]="openTab">
    <p-tabPanel header="Profile"></p-tabPanel>
    <p-tabPanel header="Skills"></p-tabPanel>
    <p-tabPanel header="Certifications"></p-tabPanel>
    <p-tabPanel header="Work Experiences"></p-tabPanel>
    <p-tabPanel header="Projects"></p-tabPanel>
  </p-tabView>

  <div *ngIf="openTab==0">
    <app-profile [loggedInUser]="user.Name === loggedInUsername" [user]="user" [githubProfile]="user.GithubProfile" [data]="user.Projects"></app-profile>
  </div>
  <div *ngIf="openTab==1">
    <app-skills [user]="user"></app-skills>
  </div>
  <div *ngIf="openTab==2">
    <app-certifications [loggedInUser]="user.Name === loggedInUsername" [user]="user"></app-certifications>
  </div>
  <div *ngIf="openTab==3">
    <app-experience [loggedInUser]="user.Name === loggedInUsername" [user]="user" [data]="user.WorkExperiences"></app-experience>
  </div>
  <div *ngIf="openTab==4">
    <app-projects [loggedInUser]="user.Name === loggedInUsername" [user]="user" [data]="user.Projects"></app-projects>
  </div>
</div>

<div *ngIf="user.Name !== loggedInUsername">
  <app-profile [loggedInUser]="user.Name === loggedInUsername" [user]="user" [githubProfile]="user.GithubProfile" [data]="user.Projects"></app-profile>
</div>
